<div class="gallery-main">
	<% @gallery_images.each_slice(8) do |photos|%>
    <div class='gallery-row'>
      <div class='landscape gallery-photo' style="background-image: url(<%= photos[0].imgur_url %>)"></div>
      <div class='landscape gallery-photo' style="background-image: url(<%= photos[1].imgur_url %>)"></div>
      <div class='portrait gallery-photo' style="background-image: url(<%= photos[2].imgur_url %>)"></div>
      <div class='portrait gallery-photo' style="background-image: url(<%= photos[3].imgur_url %>)"></div>
    </div>
    <div class='gallery-row'>
      <div class='portrait gallery-photo' style="background-image: url(<%= photos[4].imgur_url %>)"></div>
      <div class='landscape gallery-photo' style="background-image: url(<%= photos[5].imgur_url %>)"></div>
      <div class='portrait gallery-photo' style="background-image: url(<%= photos[7].imgur_url %>)"></div>
      <div class='landscape gallery-photo' style="background-image: url(<%= photos[6].imgur_url %>)"></div>
    </div>
    <div class='gallery-row'>
      <div class='portrait gallery-photo' style="background-image: url(<%= photos[2].imgur_url %>)"></div>
      <div class='portrait gallery-photo' style="background-image: url(<%= photos[3].imgur_url %>)"></div>
      <div class='landscape gallery-photo' style="background-image: url(<%= photos[0].imgur_url %>)"></div>
      <div class='landscape gallery-photo' style="background-image: url(<%= photos[1].imgur_url %>)"></div>
    </div>
	<% end %>
</div>

<script>
  $('document').ready(function(){
    $pageFooter = $('.page-footer');
    if(window.location.pathname == '/portfolio') {
      if($pageFooter.hasClass('position-fixed')) {
        console.log('removing positition fixed class');
        $pageFooter.removeClass('position-fixed');
      }
    }
  });
</script>
