<!DOCTYPE html>
<html>
  <head>
    <title>Amy Dey Photography</title>
    <%= csrf_meta_tags %>
	<link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/2Xkounu.png?1">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class='page-header'>
  		<a class="header-logo-container" href="/">
  			<%= image_tag("amylogowhite.png", :alt => 'Amy Dey Photography Logo', :class => 'header-logo') %>
  		</a>
  		<nav class="header-nav">
  			<ul>
  				<li>
  					<span class="active-link">[</span>
  					<%= link_to "HOME", "/" %>
  					<span class="active-link">]</span>
  				</li>
  				<li>
  					<%= link_to "PORTFOLIO" %>
  				</li>
  				<li><%= link_to "CONTACT" %></li>
  				<li><%= link_to "ABOUT AMY" %></li>
  			</ul>
  		</nav>
  	</header>

    <%= yield %>

    <footer class="page-footer">
	    <ul>
	      <li>
	        <a class="white-text social-links" href="https://www.facebook.com/eatrightATL">
	          <i class="fa fa-facebook-square fa-2x hoverable" aria-hidden="true"></i> Facebook
	        </a>
	      </li>
	      <li>
	        <a class="white-text social-links" href="https://www.linkedin.com/groups/3785630">
	          <i class="fa fa-linkedin-square fa-2x hoverable" aria-hidden="true"></i> LinkedIn
	        </a>
	      </li>
	      <li>
	        <a class="white-text social-links" href="https://twitter.com/EatRightATL">
	          <i class="fa fa-twitter-square fa-2x hoverable" aria-hidden="true"></i> Twitter
	        </a>
	      </li>
	      <li>
	        <a class="white-text social-links" href="mailto:gadainfo@eatrightatlanta.org">
	          <i class="fa fa-envelope-square fa-2x hoverable" aria-hidden="true"></i> Email
	        </a>
	      </li>
	    </ul>
    </footer>
  </body>
</html>

